*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: apple-system, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-weight: 300;
}

figure,
p {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

.button {
  background: #fff;
  padding: 10px 20px;
  border: 1px #000 solid;
  color: #000;
  -webkit-transition: background .2s easy-out;
  transition: background .2s easy-out;
}

.button:hover {
  background: #bbb;
}

.app {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main";
}

.app main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  overflow: auto;
}

.header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo menu-icon" "menu menu";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bbb;
  min-height: 80px;
}

.header a {
  display: block;
  color: #000;
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  height: 80px;
  padding: 10px 40px;
}

.header__logo img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  float: left;
}

.header__menu {
  position: fixed;
  top: 80px;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: menu;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out, background .2s ease-out;
  transition: max-height .2s ease-out, background .2s ease-out;
}

.header__menu a {
  border-top: 1px #0000001a solid;
  padding: 20px 20px;
}

.header__menu-icon {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu-icon;
  cursor: pointer;
  padding: 20px 40px;
  -ms-grid-column-align: right;
      justify-self: right;
  height: 100%;
}

.header__menu-icon svg {
  width: 40px;
}

.header__menu-icon svg line {
  stroke: #000;
  stroke-width: 10;
  stroke-dasharray: 2, 1;
}

.header__menu-button {
  display: none;
}

.header__menu-button:checked ~ .header__menu-icon {
  background: #909090;
}

.header__menu-button:checked ~ .header__menu {
  max-height: 40vh;
  background: #909090;
}

@media (min-width: 768px) {
  .header {
        grid-template-areas: "logo menu";
  }
  .header__menu-button:checked ~ .header__menu {
    background: none;
  }
  .header__menu {
    position: unset;
    max-height: none;
    height: 100%;
  }
  .header__menu li {
    float: right;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu li a {
    border-top: 0px;
    padding: 20px 30px;
  }
  .header__menu-icon {
    display: none;
  }
}

.header .header__menu li:hover, .header__menu-button:hover, .header__menu-icon:hover {
  background-color: #fff;
}

footer {
  background-color: #808080;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template: auto auto / auto auto;
  padding: 20px 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 4vw 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__details a {
  color: #fff;
}

.footer__details a:before {
  display: inline-block;
  padding-right: 3px;
  width: 24px;
  text-align: center;
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-gap: 10px 20px;
  margin: 20px 4vw 40px;
}

.footer__links a {
  color: #fff;
  border-bottom: 2px #ffffff00 solid;
}

.footer__links a:hover {
  border-bottom: 2px #fff solid;
}

.footer__copyright {
  text-align: center;
  padding: 20px;
  grid-column: 1 / -1;
  border-top: 2px white solid;
}

.footer__address:before {
  content: "\f3c5";
}

.footer__phone:before {
  content: "\f095";
}

.footer__email:before {
  content: "\f0e0";
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 80px);
  background: url("../img/project-bg.jpeg") center/cover;
}

.top-section > h1 {
  font-size: 2.5em;
}

.article {
  background: #fff;
  overflow: auto;
}

.article__subsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.article__subsection img {
  max-width: 100%;
  max-height: 100%;
}

.article__subsection p {
  padding: 10px 30px;
}

@media (min-width: 768px) {
  .article__subsection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .article__subsection * {
    max-width: 720px;
  }
  .article__subsection img {
    max-height: 50vh;
    width: 100%;
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .article__subsection--partial {
    max-width: 1440px;
    margin: 0 auto;
  }
  .article__subsection--partial img {
    -ms-grid-column-align: left;
        justify-self: left;
    position: relative;
    left: -10%;
    width: 50vw;
  }
  .article__subsection--partial p {
    max-width: 720px;
  }
}

.article__subsection--reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .article__subsection--reversed img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .article__subsection--reversed p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.contact-us {
  background: url("../img/project-bg.jpeg") center/cover;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us form {
  background: #fff;
  width: 95%;
  max-width: 400px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  border: 1px #000 solid;
  margin-bottom: 20px;
}

.contact-us form > input,
.contact-us form textarea {
  padding: 10px;
  border: 1px #000 solid;
}

.contact-us form input {
  float: right;
}

.contact-us form textarea {
  resize: vertical;
  min-height: 80px;
  max-height: 50vh;
}
