@import "../_vars.scss";

#main__section2 {
	.section2__subsection {
		display: flex;
		flex-flow: row wrap; // to have column on small screen
		align-items: center;
		justify-content: center;
		margin: 30px 0;

		@media (min-width: #{$mobile-size}) {
			> * {
				max-width: 40vw; // max- used as of object-fit
				width: 100%;
			}
			> img {
				// limit the size of the image for wide screens
				max-height: 50vh;
			}
		}
	}

	@media (min-width: #{$mobile-size}) {
	.section2__subsection-partial {
			// offseting the entire block to increase the area of text
			position: relative;
			left: -10vw;
			> p {
				max-width: 60vw; // increasing space
				padding: 0 0 0 10vw;
			}
		}
	}

	.section2__subsection-reversed {
		// won't be applied on column structure of mobile screen
		flex-direction: row-reverse;
		@media (min-width: #{$mobile-size}) {
			> p { // leaving only padding next to the image
				padding: 0 5vw 0 0;
			}
		}
	}

	img {
		// force image to fit parent element
		max-width: 100%;
		max-height: 100%;
	}

	p {
		padding: 10px 5vw;
	}
}
